<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul class="site-category">
        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
        {% assign current = 'is-active' %}
        {% endif %}
        <li class="{{ current }}">
          <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
