<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a  href="/" class="navbar-brand">{{ site.title }}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">

        {% for link in site.navigation %}

        {% assign current = nil %}
        {% if page.url contains link.url %}
        {% assign current = 'active' %}
        {% endif %}

        <li>
          <a class="{{ current }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
        </li>

        {% endfor %}
    </nav>
  </div>
</header>
