$bg: #28323B;
$words: #555E63;
$green: #30CDB0;

pre {
	border: none;
	padding: 0;
}

body {

	font: 14px/1.5 'Helvetica-Neue', Helvetica, Arial, 'STheiti','MicroSoft Yahei', tahoma, sans-serif;

	background-color: #EAF4F6;

	a, a:visited {
		color: $green;
	}

	a:hover {
		text-decoration: none;
		color: $green;
		opacity: 0.6;
	}
}
.container {
	width: 990px !important;
	padding: 0;
}

hr {
	margin: 15px 0;
}

.post-content {
	h2, h3 {
		margin: 25px 0;
	}
}

h1 {
	font-size: 30px !important;
}
h2 {
	font-size: 26px !important;
}
h3 {
	font-size: 22px !important;
}
h4 {
	font-size: 28px !important;
}
h5 {
	font-size: 14px !important;
}

/**
 * navbar and footer
 */
.navbar {

	font-size: 14px;

	li >a:hover, li >a.active {
 		background-color: $words;
 		// color: $bg;
 	}

 	.navbar-brand {
 		margin-right: 40px;
 		margin-left: 0 !important;
 		width: 50px;
 		height: 50px;
		line-height: 50px;
		text-align: center;
		padding: 0;
		background-color: $green;
		color: #fff;
		border-radius: 50%;
		transition: all 0.3s;

 		&:hover {
			transform: rotate(90deg);
			opacity: 1;
 		}
 	}

}
.navbar, footer {
 	background: $bg;
 	color: #fff;
 	margin-bottom: 0;

 	a, a:visited {
 		color: #fff;
 	}
 	a:hover {
 		opacity: 1;
 	}
}
footer {
	.contact-list {
		a:hover, a:visited {
			color: #fff;
			opacity: 1;
		}
	}
}

.post-item-title {
	margin: 5px 0;
}


.page-content {
	.wrapper {
		width: 990px;
		padding: 20px 60px;
		background-color: #fff;
		max-width: none;
	}
}
.site-footer {
	.wrapper {
		width: 990px;
		padding: 20px 0;
		max-width: none;
	}
}

.post {
	border-bottom: 1px dotted #666;
  padding: 10px 0;
}
.post:last-child {
	border-bottom: none;
}
.post-title {
	font-size: 36px;
}

.post-time {
  font-size: 20px;
  color: #777;
  padding-right: 10px;
}

.read-more {
	display: block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: $green;
	color: #fff;
	border-radius: 25px;
	text-decoration: none;

	transition: background 0.3s;

	&:hover {
		text-decoration: none;
		background-color: #21E9B7;
		color: #fff;
	}

	&:visited {
		color: #fff;
	}
}
